node_modules
output
mochawesome-report/*
.env
*.conf.js
output/*
allure-results/*
Test_Script_Generator_v1.6.xlsm
screenshots/actual
data/actual/
archive
.npmrc
Tests/examples/generateToken.js
Export/Excel/Actuals/*
Export/Excel/Compare/*
Export/PDF/Actuals/*
Export/PDF/Compare/*
Writeback_ActualFiles/*
Writeback_ComparisonFiles/*
*.log
data/diff/
log/*
Tests/BatchExecutor/*
allure-report/*
allure-report_final.zip
resultlink.txt
allure-screenshots
allureMapCSV.csv
Export/PDF/Base/Base_PNG
Export/PDF/Base/PDFTextFile
finalResultsLink.json
gitdiff.txt
totalList.txt
cookies.
DB_CSV
cookies.json
executionhelpers/allure-report
executionhelpers/generateAllureReport.js
allure-pdfs/*